server {
	listen		7000;
	#server_name	c3-op-mon-dev01.bj;
	access_log	off;
	root		/opt/falcon/var/html;

	location ^~ /v1.0 {
	#	proxy_pass http://localhost:3000;
		proxy_pass http://localhost:18005;
	}

	location ^~ /docs {
		index index.html index.htm README.md ;
		autoindex on;
	}

	location / {
		try_files $uri /index.html;
	}
}
